/*All document  BEGIN*/
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px; 
}

body, html {
    height: 100%;
}

#page{
  /*background:#ffffd1;*/
}
.parallax {
    /* The image used */
    background-image: url('../images/Parallax_img.JPG');

    /* Full height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
  margin: 0px 0px;
}
/*All document  END*/

/*Navigation BEGIN*/
#navBox{
  margin: 0px auto;
}

#navigationBar{
  display: block;
  position: absolute;
  width: 100%;
  height: 54px;
  bottom: 0px;
}

.supportCenterAlign{
  width: 20%;
}

.navElement{
  text-align: center;
  width: 12%;
}
/*Navigation END*/
/*Page header BEGIN*/
#pageHeader{
  /*Properties*/
  /*View*/
  /*Behaviour*/
  opacity: 0.5;
  /*Position*/
}
#label{

}
/*Page header END*/
/*Page main BEGIN*/
#pageMain{
  
}
/*Who am I BEGIN*/
#whoAmI{
  height: 500px;
  background: darkgoldenrod;
}
/*Who am I END*/
/*My look BEGIN*/
#myLook{
  height: 500px;
  background: darkorange;
}
/*My look END*/
/*Max quotes BEGIN*/
#maxQuotes{
  height: 500px;
  background: darkviolet;
}
/*Max quotes END*/
/*Max jokes BEGIN*/
#maxJokes{
  height: 500px;
  background: dimgray;
}
/*Max jokes END*/
/*Max Music BEGIN*/
.musicElement{
  display: block;
  width: 70%;
  height: 140px;
  margin: 0px auto;
}
/*Max Music END*/
/*Contact Max BEGIN*/
#contactMax{
  height: 500px;
  background: gold;
}
/*Contact Max END*/
/*Share box BEGIN*/
/*Share box END*/
/*Page main END*/
/*Footer BEGIN*/
/*Footer END*/